<!-- <div>Some tags before</div> -->
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img [src]="'https://picsum.photos/200/300?random='+randomizer"></ng-template>  
  <ng-template carouselSlide><img [src]="'https://picsum.photos/200/300?random='+randomizer+2"></ng-template>  
  <ng-template carouselSlide><img [src]="'https://picsum.photos/200/300?random='+randomizer+4"></ng-template>  
  <ng-template carouselSlide><img [src]="'https://picsum.photos/200/300?random='+randomizer+6"></ng-template>  
  <ng-template carouselSlide><img [src]="'https://picsum.photos/200/300?random='+randomizer+8"></ng-template>  
</owl-carousel-o>
<!-- <div>Some tags after</div> -->
