
<div class="content" role="main" >
  <app-toolbar (button1)="sidenav.toggle()" (button2)="sidenav2.toggle()" class="fixed-header"></app-toolbar>
  <mat-sidenav-container fxFlexFill style="height: 1400px">
    <mat-sidenav #sidenav style="height: 260px; width: 150px;" >
      <mat-nav-list>
        <a (click)="scroll(info)" mat-list-item>Info</a>
        <a (click)="scroll(details)" mat-list-item>Details</a>
        <a (click)="scroll(details)" mat-list-item>Examples</a>
        <a (click)="scroll(contact)" mat-list-item>Contact</a>
        <a (click)="scroll(footer)" mat-list-item>Footer</a>
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close
          </a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav #sidenav2 style="height: 160px; width: 160px;" position="end" >
      <mat-nav-list>
        <a (click)="scroll(info)" mat-list-item>Profile</a>
        <a (click)="scroll(details)" mat-list-item>Config</a>
        <a (click)="scroll(details)" mat-list-item>Logout</a>
        <!-- <a (click)="sidenav.toggle()" href="" mat-list-item>Close
          </a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <div class="main">

        <!-- Main content -->
        <br />
        <div #info class="title">
          Info
        </div>
        <div class="item">
          <app-carousel [randomizer]="165"/>
        </div>
        <div #details class="title">
          Details
        </div>
        <div class="item">
          <app-carousel [randomizer]="12"/>
        </div>
        <div #contact class="title">
          Contact Information
        </div>
        <div #footer class="title">
        </div>
        <router-outlet></router-outlet>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer #footer></app-footer>

</div>